.container {
  .show-hide-form {
    border: none;
    background-color: transparent;
    display: block;
    margin: 0 auto;

    img {
      width: 30px;
    }
  }

  .inventory {
    padding: $xxl-spacing;
    display: grid;
    justify-items: center;
    gap: $l-spacing;
    grid-template-columns: repeat(1, 1fr);

    img {
      display: block;
      object-fit: cover;
      object-position: center;
      width: 200px;
      height: 300px;
      border-radius: 16px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 650px) {
  .container {
    .inventory {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1200px) {
  .container {
    .inventory {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
