body {
  background-color: white;
}
.pages {
  width: 1300px;
  margin: 0 auto;
  padding-top: $md-spacing;
}

button {
  cursor: pointer;
}

@media (max-width: 1512px) {
  .pages {
    width: auto;
  }
}
