@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: white;
}

.pages {
  width: 1300px;
  margin: 0 auto;
  padding: 84px;
}

header {
  background-color: #2f2f2f;
}
header .container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 32px;
}
header a {
  text-decoration: none;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  gap: 12px;
}
header a span {
  color: #dd6031;
  -webkit-animation: header-step-anim 1s infinite steps(2, jump-none);
          animation: header-step-anim 1s infinite steps(2, jump-none);
}
header a img {
  width: 60px;
}

@-webkit-keyframes header-step-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes header-step-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}