@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Nanum+Gothic:wght@700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: white;
}

.pages {
  width: 1300px;
  margin: 0 auto;
  padding-top: 20px;
}

button {
  cursor: pointer;
}

@media (max-width: 1512px) {
  .pages {
    width: auto;
  }
}
header {
  background-color: #2f2f2f;
}
header .container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 32px;
}
header a {
  text-decoration: none;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
header a span {
  color: #dd6031;
  -webkit-animation: header-step-anim 1s infinite steps(2, jump-none);
          animation: header-step-anim 1s infinite steps(2, jump-none);
}
header a img {
  width: 60px;
}

@-webkit-keyframes header-step-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes header-step-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@media (min-width: 550px) {
  header a {
    justify-content: flex-start;
  }
}
.container .show-hide-form {
  border: none;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}
.container .show-hide-form img {
  width: 30px;
}
.container .inventory {
  padding: 84px;
  display: grid;
  justify-items: center;
  gap: 32px;
  grid-template-columns: repeat(1, 1fr);
}
.container .delete-modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}
.container .delete-modal-container .delete-modal {
  font-family: "Barlow", sans-serif;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}
.container .delete-modal-container .delete-modal p {
  margin-bottom: 20px;
  font-size: clamp(1.2rem, 3vw, 2rem);
}
.container .delete-modal-container .delete-modal p span {
  color: red;
  font-weight: 600;
}
.container .delete-modal-container .delete-modal .modal-btn-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.container .delete-modal-container .delete-modal .modal-btn-container button {
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  padding: 12px 32px;
}

@media (min-width: 600px) {
  .container .inventory {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .container .inventory {
    grid-template-columns: repeat(4, 1fr);
  }
  .container .delete-modal-container .delete-modal {
    width: 30%;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form h3 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: clamp(1.2rem, 4vw, 2rem);
  margin-bottom: 20px;
  text-align: center;
}
form .form-item {
  font-family: "Barlow", sans-serif;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 20px;
}
form label {
  font-size: clamp(0.8rem, 2vw, 1.6rem);
}
form input {
  padding: 4px;
  width: 150px;
  font-size: clamp(1rem, 2vw, 1.3rem);
  border-radius: 16px;
  border: none;
  background-color: #d7d7d7;
  padding: 12px;
}
form button {
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 12px 0px;
  border-radius: 16px;
  border: none;
  background-color: #dd6031;
  color: white;
  font-size: clamp(0.8rem, 2vw, 1.4rem);
  transition: 300ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form button:hover {
  background-color: #9d3e1c;
}

@media (min-width: 700px) {
  form input {
    width: 300px;
  }
}
@media (min-width: 1100px) {
  form input {
    width: 600px;
  }
}
.game-details {
  font-family: "Barlow", sans-serif;
  border-radius: 5px;
  width: 200px;
}
.game-details h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: clip;
  padding: 2.5px;
}
.game-details .date-text {
  margin-bottom: 8px;
  color: #dd6031;
  font-size: 0.8rem;
}
.game-details .copies-text {
  margin-top: 8px;
}
.game-details h3,
.game-details .date-text,
.game-details .copies-text {
  text-align: center;
}
.game-details .cover-img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 200px;
  height: 300px;
  border-radius: 16px;
  margin: 0 auto;
  transition: 300ms ease-in-out;
}
.game-details .cover-img:hover {
  transform: scale(1.03, 1.03);
}
.game-details .game-details-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.game-details .game-details-btn-container .update-btn {
  background-color: transparent;
  border: none;
}
.game-details .game-details-btn-container .update-btn img {
  width: 30px;
}
.game-details .game-details-btn-container .delete-btn {
  border: none;
  background-color: transparent;
}
.game-details .game-details-btn-container .delete-btn img {
  width: 30px;
}
.game-details .submit-changes-btn {
  display: block;
  border: none;
  margin: 0 auto;
  margin-top: 4px;
  padding: 8px;
  border-radius: 16px;
  background-color: #dd6031;
  color: white;
  font-weight: 600;
  transition: 300ms ease-in-out;
}
.game-details .submit-changes-btn:hover {
  background-color: #9d3e1c;
}
.game-details .edit-imgurl-input {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}